@model FinancingApp.Web.Models.ApplicationCreateViewModel
@{
    ViewBag.Title = "ApplicationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for submiting application, confirmation number: @ViewData["confirmation number"]</h2>

